/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
   min-height: 100vh;
 }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.voi {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#main_feed, #post_page, #post_page_comments, #feed_pagination, #search_line {
    margin: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.likes {
  float: right;
  cursor: pointer;
  height: inherit;
}

.count-num {
  font-size: 20px;
  color: rgb(145, 145, 145);
  padding: 0px 8px 0px 16px;
  margin-top: -3px;
}

.material-icons {
  font-size: 18px !important;
}

.in-card {
  margin-top: -25px;
}